@font-face {
  font-family: 'DMSans';
  src: url(./fonts/DMSans-Regular.ttf);
} 

body {
  font-family:'DMSans';
}

.header-block {
  width: 1440px;
  display: flex;

}

.header-left-block {
  display: flex;
}

.logo {
  width: 93px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 23px 93px 20px 79px;
}

.uz {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}

.car {
  font-weight: 700;
  font-size: 20px;
  line-height: 47px;
  text-decoration: underline;

}

.header {
  list-style-type: none;
  display: inline-flex;
  display: flex;
}

.header1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  padding: 31px 33px 30px 0px;
  width: 122px;
  height: 29px;
}

.header2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  padding: 31px 31px 31px 0px;
  width: 127px;
  height: 29px;
}

.header3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  width: 158px;
  height: 29px;
  padding: 31px 235px 30px 0px;

}

.telephone-decoration {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.telephone {
  padding: 34px 40px 33px 0px;
  width: 165px;
  height: 23px;
  align-self: center;

}

.header-icons {
  justify-content: center;
  gap: 34px;
  display: flex;
  align-items: center;
}


.header-icon {
  width: 20px;
  height: 20px;
  gap: 34px;

}

.header-images {
  padding: 22px 80px 20px 40px;
  justify-content: center;

}

a {
   text-decoration: none;
   color: black;
}
.block-1 {
  width: 1281px;
  display: flex;
  padding: 0px 80px;
  margin-bottom: 208px;

}

.block-1-left {
  padding-top: 140px;
  padding-left: 62px;

}

.block-1-left-text-1 {
  font-weight: 700;
  font-size: 41px;
  line-height: 53px;
  width: 627px;
  margin-bottom: 15px;
}
.block-1-left-text-2 {
  font-weight: 400;
  line-height: 36px;
  font-size: 28px;
  margin-bottom: 30px;
}
.header-right-block {
  display: flex;
}

.block-1-input {
  padding: 17px 0px 17px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 514px;
  position: absolute;

}

.block-1-right {
  position: relative;

}
.block-1-button {
  width: 75px;
  background: rgba(66, 0, 255, 0.8);
  border-radius: 8px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
  left: 462px;
  height: 58px;
}

.block-1-wheel-img {
  width: 150%;
  position: absolute;
  left: -110px; 
  top: 35px;
}

.block-1-shadow-img {
  top: 420px;
  position: relative;
  left: 85px;
 
}
.block-2 {
  padding: 0px 80px;
  display: flex;
  gap: 22px;
  margin-bottom: 85px;
}

.block-2-card {
  display: flex;

}

.block-2-card-text-block-1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 10px;
}


.block-2-card-text-block-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  width: 190px;
}

.block-2-card-img {
  width: 142px;
  margin-right: 34px;

}

.block-2-card-text-block {
  padding: 36px 30px 0px 0px;
}

.block-3 {
  width: 1440px;
  padding-left: 91px;
  padding-right: 106px;
  display: flex;
}

.block-3-menu-list {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-3-menu-text {
  list-style-type: none;  
}

.block-3-menu-item1 {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  background: #4200FF;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 20px;

}

.block-3-menu-item2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 20px 30px 20px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;


}

.block-3-menu-item-block {
  display: flex;
  align-items: center;
  
}

.block-3-img {
  margin-right: 19px;
  width: 36px;
  height: 36px;
}

.block-3-right-price-block {
  display: flex;
  justify-content: space-between;
}

.block-3-right-card {
  width: 278px;

  
}

.block-3-right-card-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
  padding-top: 25px;
}

.block-3-right-card-img {
  width: 128px;
  height: 186px;
}

.block-3-right-text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
  width: 222px;
  padding: 0 20px;
 
}

.block-3-right-price-block {
  padding: 0 20px;
}
.block-3-star {
  width: 15px;
  height: 15px;
}

/* .block-3-star:last-child {
  margin-right: unset;
} */

.block-3-right-price {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #4200FF;
  margin-bottom: 20px;
  
}

.block-3-right-star {
  margin-right: 77px;
}

.block-3-right {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.block-4-menu {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-right: 86px;
}


.block-4 {
  width: 1440px;
  margin-bottom: 60px;
}

.block-4-cards-1 {
  background: #919EAB;
  opacity: 0.5;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-4-cards-2 {
  font-family:'DM Sans';
  background: #FFFFFF;
  border: 1px solid #4200FF;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4200FF;
}

.block-4-cards-3 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #212B36;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-4-cards-4 {
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-5 {
  width: 1440px;
  padding: 60px 79px 80px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.block-5-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-5-card-img {
  width: 126px;
  height: 63px;
  margin-right: 35px;
}

.block-5-card-img-24-7 { 
  width: 80px;
  height: 32px;
  margin-right: 35px;

}

.block-5-card-text-block-1 {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  width: 201px;
}

.block-5-card-text-block-2 {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  width: 195px;
}

.block-6 {
  display: flex;
  padding: 99px 80px 82px 120px;
}

.block-6-text {
  
  
}

.block-6-text-1 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  width: 530px;
  margin-bottom: 40px;
}


.block-6-text-2 {
  border-color: #000000;
  position: relative;

}

.block-6-arrow {
  position: absolute;
  left: 200px;
}



.block-6-input {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  padding: 10px 30px 10px 20px;
  border-radius: 5px;
  border-width: 3px;
  width: 220px;
  bottom: 23px;
}

.block-6-car {
  width: 694px;
  height: 358px;
  padding: 80px 84px 82px 12px;

}

.name {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
}

.block-7 {
  display: flex;
  gap: 20px;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.block-7-card {
  width: 303px;
}

.block-7-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}